.task {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  border: 0;
  border-radius: 500px;
  background-color: rgb(0, 94, 117);
  cursor: move;
  transform: translate(0, 0);
}

.task > div:not(.pointer-event) {
  pointer-events: none;
}

.hide-children > div {
  visibility: hidden;
}

.task-container {
  position: relative;
  padding: 6px;
  border: 1px solid transparent;
  border-radius: 500px;
  transform: translate(0, 0);
}

.task-droppable {
  border-color: lawngreen;
}

.task-draggable {
  position: absolute;
  background-color: lightcoral;
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 500px;
}

.task-draggable-hidden {
  display: none;
}
