.container {
  display: flex;
  margin-top: 5rem;
  justify-content: space-evenly;
}

/* SECTION */

.section-container {
  min-width: 400px;
}

.section-title {
  padding: 1rem 1rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.section-title + hr {
  border: 2px solid lawngreen;
  background-color: lawngreen;
  border-radius: 500px;
}

.section-taskList > div {
  margin-top: 1rem;
}

.add-element-container {
  max-height: 25px;
  transition: max-height 0.15s ease-out;
}

.add-element {
  min-width: 130px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-element > span {
  pointer-events: none;
  display: block;
  font-size: 3rem;
}

.add-element-hidden {
  cursor: pointer;
  height: 25px;
}

.add-element-hidden > span {
  display: none;
}

.add-element:hover {
  background-color: rgba(119, 136, 153, 0.411);
  max-height: 100vh;
  transition: max-height 1s ease-in;
}

/* BOARD */

.board-container {
  /* border: 1px solid lawngreen; */
  background-color: rgb(9, 49, 63);
  border: none;
  border-radius: 10px;
  box-shadow: -4px 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.board-title {
  padding: 0.5rem;
  border-bottom: 1px solid lawngreen;
  cursor: move;
}

.board-list {
  padding: 1rem;
}

.board-list > div {
  margin-top: 0.5rem 0;
}

/* TASK */

.task {
  transform: translate(0, 0);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  border: 0;
  border-radius: 500px;
  background-color: rgba(0, 204, 255, 0.185);
  cursor: move;
}

.task > div {
  pointer-events: none;
}

.hide-children > div {
  visibility: hidden;
}

.task-container {
  position: relative;
  padding: 6px;
  border: 1px solid transparent;
  border-radius: 500px;
}

.task-droppable {
  /* border-style: dashed; */
  border-color: lawngreen;
}

.task-draggable {
  /* z-index: 1; */
  position: absolute;
  background-color: lightcoral;
  display: flex;
  width: 200px;
  height: 200px;
  /* padding: 2rem 2rem; */
  border-radius: 500px;
}

.task-draggable-hidden {
  display: none;
}
